<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <title>Text playground</title>
  </head>
  <body>
    <div id="root" style="position: relative"></div>
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
    <script type="module" jsenv-type="module/jsx">
      import { render } from "preact";
      import {
        // eslint-disable-next-line no-unused-vars
        Text,
      } from "./text.jsx";
      // eslint-disable-next-line no-unused-vars
      import { EnumSelector } from "/app/components/form/enum_selector.jsx";
      import { useLocalStorageState } from "/app/hooks/use_local_storage_state.js";

      // eslint-disable-next-line no-unused-vars
      const App = () => {
        return (
          <div style="display:inline-flex; flex-direction: column">
            <div style="display:inline-flex; margin: 10px">
              <TextWithForm />
            </div>
          </div>
        );
      };

      // eslint-disable-next-line no-unused-vars
      const TextWithForm = () => {
        const [width, widthSetter] = useLocalStorageState("width", 300);
        const [text, textSetter] = useLocalStorageState("text", "Coucou");
        const [color, colorSetter] = useLocalStorageState("color", "black");
        const [fontSize, fontSizeSetter] = useLocalStorageState(
          "font_size",
          18,
        );

        return (
          <div style="display: flex; flex-direction: column">
            <div style="border: 1px solid black; width: 500px; height: 150px; ">
              <div
                style={{
                  background: "green",
                  width,
                }}
              >
                <Text fontSize={fontSize} color={color}>
                  {text}
                </Text>
              </div>
            </div>
            <fieldset>
              <legend>Text props</legend>

              <label>
                <textarea
                  style={{
                    minWidth: "25em",
                  }}
                  onInput={(event) => textSetter(event.target.value)}
                  columns="120"
                  rows="3"
                >
                  {text}
                </textarea>
              </label>
              <br />
              <EnumSelector
                name="color"
                values={["black", "red", "yellow"]}
                onChange={(value) => {
                  colorSetter(value);
                }}
              />

              <br />
              <label>
                Font size:
                <input
                  type="number"
                  min="1"
                  max="40"
                  value={fontSize}
                  onInput={(event) =>
                    fontSizeSetter(event.target.valueAsNumber)
                  }
                />
              </label>

              <br />
              <label>
                Container width :
                <input
                  type="number"
                  min="1"
                  max="400"
                  value={width}
                  onInput={(event) => widthSetter(event.target.valueAsNumber)}
                />
              </label>
            </fieldset>
          </div>
        );
      };

      render(<App />, document.querySelector("#root"));
    </script>
  </body>
</html>
